:root {
  --mu: 8px;
  --shadow: 1px 3px 3px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.06);
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body, html {
  height: 100%;
  width: 100%;
  font-size: 100%;
	line-height: 1.65;
	font-family: 'IBM Plex Mono', monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.logo {
  height: calc(var(--mu) * 7);
  position: fixed;
  top: calc(var(--mu) * 2);
  left: calc(var(--mu) * 3);
}

.logo > img {
  height: 100%;
  filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
}

.alert {
  display: flex;
  font-size: 0.9em;
  position: fixed;
  top: calc(var(--mu) * 2);
  max-width: 42em;
  text-align: center;
  padding: var(--mu);
  background-color: #fff;
  color: #000;
  box-shadow: var(--shadow);
  border-radius: var(--mu);
}

.alert  a {
  color: #000
}
.alert  a:hover {
  color: rgba(0, 0, 0, 0.65);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s
}

.alert button {
  opacity: 0.75;
  height: calc(var(--mu) * 4);
  width: calc(var(--mu) * 4);
  padding: 0px;
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: calc(var(--mu) * 2);
  cursor: pointer;
}
.alert button:hover {
  color: rgba(0, 0, 0, 0.65);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s
}
.alert button:active {
  color: rgba(0, 0, 0, 0.50)
}

.week-indicator{
	position: fixed;
	top:0em;
	right: 0em;
	color:#fff;
	font-size: calc(1em + 1vw);
	font-weight: 600;
	margin:0px !important;
	padding:0.2em;
	padding-right: 1em;
	padding-left: 1em;
	text-shadow: 0px 0px 3px #0000;
	line-height: 1;
	background-color: #0000;
	border-radius: 0px 0px 0px 8px;
	box-shadow: 0px 0px 3px 2px rgba(10,10,10,0.2);
}
.week-indicator[data-week="A"]{
	background-color: #0c8599;
	text-shadow: 0px 0px 3px #0b7285;
}
.week-indicator[data-week="B"]{
	background-color: #c2255c;
	text-shadow: 0px 0px 3px #a61e4d;
}

.bottom-nav {
  position: fixed;
  bottom: calc(var(--mu) * 2);
  left: calc(var(--mu) * 3);
}

.bottom-nav > a {
  color: rgba(255, 255, 255, 1);
}

.bottom-nav > a:hover {
  color: rgba(255, 255, 255, 0.75);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s
}

.clock {
  text-shadow: var(--shadow);	
  letter-spacing: -0.29px;
}

.clock__time {
  display: flex;
	justify-content: center;

  font-size: 150px;
	font-size: calc(2.618em + 10vw);
  font-weight: 900;
  line-height: 1;
}

.clock__time__mins {
	text-align: right;
  color: #fff;
  margin-bottom: calc(var(--mu) * 3);
}
.clock__time__secs {
  text-align: left;
  color: rgba(255,255,255,0.00);
  -webkit-text-stroke: 2px #fff;
}
@supports not (-webkit-text-stroke: 2px #fff) {
  .clock__time__secs {
    color: #fff;
  }
}

.clock__subheading {
  text-align: center;
	font-size:calc(1.15rem + 1vw);
}